#gedit
*~

#jedit
*#

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Haskell
*.hi
*.o
dist
.cabal-sandbox
cabal.sandbox.config

# generated code
thy/Examples/generated_code

# generated OpenFlow files…
thy/OpenFlow/of_doc
thy/OpenFlow/of_outp
